<div style="background-color:red;"><%= flash[:notice] %></div>
<% @posts.each do |post| %>
  <div style="padding:20px">
    <%= post.date %>
    <%= button_to "Hide", "/mark_hide/#{post.id}?page=#{params[:page]}" %>
    <br />
    <%= post.subject %><br />
    <%= post.body %>
  </div>  
<% end %>
<% @posts.num_of_page.times do |page| %>
  <% unless params[:page].to_i == page + 1 %>
    <%= link_to page + 1, "/?page=#{page+1}", :style => "font-size:30px;padding:10px;" %>
  <% else %>
    <%= page + 1 %>
  <% end %>  
<% end %>  