<div style="background-color:red;"><%= flash[:notice] %></div>
<% @posts.each do |post| %>
  <div style="padding:20px">
    <%= post.date %>
    <%= button_to "Hide", "/mark_hide/#{post.id}" %>
    <br />
    <%= post.subject %><br />
    <%= post.body %>
  </div>  
<% end %>  