<div style="background-color:yellow;"><%= flash[:notice] %></div>
<div style="background-color:red;"><%= flash[:alert] %></div>
<% @posts.each do |post| %>
  <div style="padding:20px">
    <%= post.date %>
    <%= button_to "Hide", "/mark_hide/#{post.id}?page=#{params[:page]}" %>
    <br />
    <%= post.subject %><br />
    <%= post.body %>
    <% form_for post, "/update/#{post.id}" do |f|%>
      <%= hidden_field_tag "page", :value => params[:page] %>
      <%= f.select(:status, :options => ["new", "open", "close", "low", "high"], :selected => post.status) %><br />
      <%= f.text_area "note", :value => post.note %><br />
      <%= f.submit "Update" %>
    <% end %>
    <hr />
  </div>
<% end %>
<% @posts.num_of_page.times do |page| %>
  <% unless params[:page].to_i == page + 1 %>
    <%= link_to page + 1, "/?page=#{page+1}", :style => "font-size:30px;padding:10px;" %>
  <% else %>
    <%= page + 1 %>
  <% end %>
<% end %>